<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/05b4d9a5-0753-4827-8525-d7ee37dc9f98/resourcegroups/RudsECom20231218154548ResourceGroup/providers/Microsoft.Web/sites/TennisCourtBookingsWebApi20231219033017</ResourceId>
    <ResourceGroup>RudsECom20231218154548ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/05b4d9a5-0753-4827-8525-d7ee37dc9f98/resourceGroups/RudsECom20231218154548ResourceGroup/providers/Microsoft.ApiManagement/service/TennisCourtBookingsApiapi/apis/TennisCourtBookingsWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tenniscourtbookingswebapi20231219033017.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>34951532-3f76-4e91-a51d-98bb1e75e1ab</ProjectGuid>
    <MSDeployServiceURL>tenniscourtbookingswebapi20231219033017.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TennisCourtBookingsWebApi20231219033017</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TennisCourtBookingsWebApi20231219033017</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>